/*CSS SPECIFIC STYLING -- INCLUSION PAGE*/

/*Header Section*/

h1{
    padding: 1.25rem 0rem 2rem 0rem;
    color: #165354;
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: 0 0;
    text-align: center;
}


p.section-text{
    text-align: center;
    padding: 0rem 0rem 2rem;
}

/*Grid 3 col*/

.grid--3-col{
    margin: 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 6rem;
    row-gap: 1.5rem;
}

p.grid-3-col-p{
    margin: 0 0;
    grid-row: 2;
}

.grid--item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
}

.header-cta--1, .header-cta--2, .header-cta--3 {
    grid-row: 3;
    padding: 0.5rem 0rem;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    margin: 0 0;
}

a.header-cta--1{
    background-color: #165354;
    border-color: #165354;
    color: #ffffff;
    border-radius: 0.5em;
}

a.header-cta--2{
    background-color: #6BAFD1;
    border-color: #6BAFD1;
    color: #1C1C1C;
    border-radius: 0.5em;
}

a.header-cta--3{
    background-color: #51557D;
    border-color: #51557D;
    color: #ffffff;
    border-radius: 0.5em;
}

a.header-cta--1:hover,a.header-cta--1:focus-visible {
    background-color: #ffffff;
    border-color: #165354;
    color: #165354;
    transition: background-color, 0.1s ease-in;
}

a.header-cta--2:hover, a.header-cta--2:focus-visible{
    background-color: #ffffff;
    border-color: #6BAFD1;
    color: #1C1C1C;
    transition: background-color, 0.1s ease-in;
}

a.header-cta--3:hover, a.header-cta--3:focus-visible{
    background-color: #ffffff;
    border-color: #51557D;
    color: #51557D;
    transition: background-color, 0.1s ease-in;
}


h3.grid-3-col-h3{
    margin: 0 0;
    padding: 0rem 1rem 0rem;
    grid-row: 1;
    grid-column: 1;
    text-align: left;
}

svg.separator-line{
    float: left;
    margin: 0 0rem;
    padding: 0 0.5rem 0 0;
    grid-row: 1;
    grid-column: 1;
    height: 4rem;
}

header h2{
    padding: 1rem 0 1rem 0;
}

/*--------------------------------------------------------------------------------*/
/*Main content body*/

h2{
    text-align: center;
    padding: 10rem 0 2rem 0;
}

.section-feature-benefits .grid--3-col{
    row-gap: 5rem;
}

.section-feature-benefits .grid--3-col{
    row-gap: 5rem;
}


/*Accessibility*/

.cta--1{
    text-align: center;
    padding: 3rem 0 0 0;
}

.section-feature-accessibility .grid--3-col{
    grid-template-rows: 1fr;
    column-gap: 2.5rem;
}

.section-feature-accessibility .grid--item{
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    row-gap: 1rem;
    border-radius: 0.5rem;
}

.section-feature-accessibility .grid--item:hover{
    transform: translateY(-0.5rem);
}

.section-feature-accessibility .grid-3-col-p {
    grid-row: 2;
    grid-column: 1;
}

.section-feature-accessibility h4 {
    grid-row: 3;
    grid-column: 1;
}

.section-feature-accessibility ul {
    margin: 0 1.2rem;
    padding: 1.5rem 0rem 0 0rem;
    grid-row: 3;
    grid-column: 1;
}

.section-feature-accessibility ul li {
    padding: 0 0;
}

.section-feature-accessibility .separator-line {
   height: 3.8rem;
}


/*Inclusion and Equality*/
.section-feature-inclusion-equality .grid--3-col{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 4rem;
}

.section-feature-inclusion-equality .grid--item{
    row-gap: 1rem;
    /* Add shadows to create the "card" effect */
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.5rem;
}

.section-feature-inclusion-equality .grid--item:hover{
    transform: translateY(-0.5rem);
}

.section-feature-inclusion-equality .grid-3-col-p {
    grid-row: 2;
    grid-column: 1;
}

.section-feature-inclusion-equality h4 {
    grid-row: 3;
    grid-column: 1;
}

.section-feature-inclusion-equality ul {
    margin: 0 1.2rem;
    padding: 1.5rem 0rem 0 0;
    grid-row: 3;
    grid-column: 1;
}

.section-feature-inclusion-equality ul li {
    padding: 0 0;
}

.section-feature-inclusion-equality svg.separator-line {
    height: 4rem;
}

.section-feature-inclusion-equality .grid-3-col-h3 {
    padding: 0 0 0 1rem;
    max-width: 44%;
}


/*Full Package*/
.section-feature-full {
    text-align: center;
}

.section-feature-full a.main-cta--1 {
    padding: 0.5rem 3rem;
    margin: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    border-style: solid;
}

.section-feature-full a.main-cta--1{
    background-color: #51557D;
    border-color: #51557D;
    color: #ffffff;
    border-radius: 0.5em;
}

.section-feature-full a.main-cta--1:hover,a.main-cta--1:focus-visible {
    background-color: #ffffff;
    border-color: #51557D;
    color: #51557D;
    transition: background-color, 0.1s ease-in;
}


/*CTA Section*/

section.section-footer-cta{
    text-align: center;
    padding-bottom: 10rem;
}

h2.bottom-cta-h2{
    padding-bottom: 2rem;
}

a.main-cta--1 {
    padding: 0.5rem 3rem;
    margin: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    }

a.main-cta--1{
    background-color: #51557D;
    border-color: #51557D;
    color: #ffffff;
    border-radius: 0.5em;
    }

a.main-cta--1:hover,a.main-cta--1:focus-visible {
    background-color: #ffffff;
    border-color: #51557D;
    color: #51557D;
    transition: background-color, 0.1s ease-in;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1290px){
    .section-feature-accessibility .grid--3-col .grid--item.col1 h3 {
        max-width: 80%;
    }

    .section-feature-inclusion-equality .grid--3-col .grid--item.col4 h3 {
        max-width: 42%;
    }

}

@media screen and (max-width: 1232px){
    .section-feature-accessibility .grid--3-col .grid--item.col1 h3 {
        max-width: 86%;
    }
}

@media screen and (max-width: 1235px) {
    header .grid--3-col{
        column-gap: 4rem;
    }
}

@media screen and (max-width: 1224px) {
    .section-feature-accessibility .grid--3-col {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col1 h3 {
        max-width: 53%;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col2 {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col2 h3 {
        max-width: 91%;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col3 {
        grid-column: 2 / span 2;
        grid-row: 2;
    }

}


@media screen and (max-width: 1171px) {
    header .grid--3-col{
        column-gap: 3rem;
    }
}

@media screen and (max-width: 1139px) {
    header .grid--3-col{
        column-gap: 2rem;
    }
}

@media screen and (max-width: 1106px) {
    header .grid--3-col{
        column-gap: 1.5rem;
    }
}

@media screen and (max-width: 1091px) {
    header .grid--3-col{
        grid-template-columns: 1fr 1fr;
        column-gap: 6rem;
        row-gap: 4rem;
    }

    header .grid--3-col .grid--item{
        grid-column: 1;
    }
    
    header .grid--3-col .grid--item.col1{
        grid-column: 1;
        grid-row: 1;
    }

    header .grid--3-col .grid--item.col2{
        grid-column: 2;
        grid-row: 1;
    }

    header .grid--3-col .grid--item.col3{
        grid-column: 1 / span 2;
        grid-row: 2;
        max-width: 100%;
        padding: 0 15rem;        
    }

    p.grid-3-col-p{
        grid-row: 2;
    }
  
}


@media screen and (max-width: 1068px){
    .section-feature-inclusion-equality .grid--3-col .grid-3-col-h3{
        max-width: 53%;
    }

}

@media screen and (max-width: 975px){
.section-feature-accessibility .grid--item.col1 h3 {
    max-width: 73%;
}


@media screen and (max-width: 946px) {
    header .grid--3-col .grid--item.col3{
        padding: 0 13rem;        
    }
}


@media screen and (max-width: 861px) {
    .section-feature-inclusion-equality .grid--3-col {
    grid-template-columns: 1fr;
    column-gap: 0.2rem;
    row-gap: 5rem;
    }

    .section-feature-accessibility .grid--3-col {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0.2rem;
        row-gap: 5rem;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col1{
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    
    .section-feature-accessibility .grid--3-col .grid--item.col1 h3 {
        max-width: 85%;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col2{
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col3{
        grid-row: 3;
        grid-column: 1 / span 3;
    }

    .section-feature-inclusion-equality .grid--3-col .grid-3-col-h3{
        max-width: 100%;
    }

    h3.grid-3-col-h3{
        margin: 0 0;
        padding: 0rem 1rem 0rem;
        grid-row: 1;
        grid-column: 1;
    }

    header svg.separator-line{
        float: left;
        margin: 0 0rem;
        padding: 0 0.5rem 0 0;
        grid-row: 1;
        grid-column: 1;
        height: 4rem;
    }

    .section-feature-accessibility svg.separator-line, .section-feature-inclusion-equality svg.separator-line {
        height: 2rem;
    }

}


@media screen and (max-width: 881px) {

    header .grid--3-col{
        column-gap: 4rem;
    }

    header .grid--3-col .grid--item.col3{
        padding: 0 11rem;        
    }
}

@media screen and (max-width: 807px) {

    header .grid--3-col{
        grid-template-columns: 1fr;
    }
    
    header .grid--3-col .grid--item.col1{
        grid-row: 1;
        grid-column: 1;      
    }

    header .grid--3-col .grid--item.col2{
        grid-row: 2;
        grid-column: 1;      
    }

    header .grid--3-col .grid--item.col3{
        grid-row: 3;
        grid-column: 1;      
    }

    header .grid--3-col .grid--item.col3 {
        max-width: 100%;
        padding: 0 0;
    }

    header svg.separator-line {
        height: 2rem;
    }

    .section-feature-benefits .grid--3-col{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 679px){
    .section-feature-accessibility .grid--item.col1 .grid-3-col-h3 {
        max-width: 50%;
    }

    .section-feature-accessibility .grid--item.col2 .grid-3-col-h3{
        max-width: 60%;
    }
    
    .section-feature-accessibility svg.separator-line {
        height: 4rem;
    }

}


@media screen and (max-width: 666px) {
    header .grid--3-col{
        padding: 0 3rem;
    }
    
    header svg.separator-line {
        height: 4rem;
    }
}

@media screen and (max-width: 538px) {
    header .grid--3-col{
        padding: 0 0rem;
    }

}


@media screen and (max-width: 564px) {
    .section-feature-accessibility .grid--3-col .grid--item.col1 .grid-3-col-h3 {
        max-width: 66%;
    }

    .section-feature-accessibility .grid--3-col .grid--item.col2 .grid-3-col-h3 {
        max-width: 100%;
    }


    .section-feature-benefits .grid--3-col{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }


}


@media screen and (max-width: 509px) {
    .section-feature-inclusion-equality .grid--item.col1 .grid-3-col-h3, .section-feature-inclusion-equality .grid--item.col2 .grid-3-col-h3, .section-feature-inclusion-equality .grid--item.col4 .grid-3-col-h3 {
        max-width: 64%;
    } 

    .section-feature-inclusion-equality svg.separator-line {
        height: 4rem;
    }

}



