/*CSS SPECIFIC STYLING -- INDEX PAGE*/

/*Header Section*/

header{
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr 0.5fr 1.5fr;
    grid-template-rows: auto auto auto;
    gap: 0.75rem 1.5rem;
    margin-top: 2rem;
}        

.header-img{
    grid-column: 3;
    grid-row: 2;
}

header {
    text-align: left;
}

h1 {
    padding: 4rem 0rem 2rem 0rem;
    font-weight: 600;
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: 0 0;
    color: #165354;
    line-height: 1.2;
}

p.header-text{
    padding: 0 0 2rem 0;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: 0 0;
    line-height: 1.4;
}

a.header-cta--1, a.header-cta--2{
    padding: 0.5rem 0rem;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    grid-row: 3;
}

a.header-cta--1{
    background-color: #51557D;
    border-color: #51557D;
    color: #ffffff;
    border-radius: 0.5em;
    grid-row: 3;
    grid-column: 1;
    margin: 0 0rem;
    float: left;
}

a.header-cta--2{
    background-color: #6BAFD1;
    border-color: #6BAFD1;
    color: #1C1C1C;
    border-radius: 0.5em;
    grid-row: 3;
    grid-column: 2;
    float: right;
}

a.header-cta--1:hover,a.header-cta--1:focus-visible {
    background-color: #ffffff;
    border-color: #51557D;
    color: #51557D;
    transition: background-color, 0.1s ease-in;
}

a.header-cta--2:hover, a.header-cta--2:focus-visible{
    background-color: #ffffff;
    border-color: #6BAFD1;
    color: #1C1C1C;
    transition: background-color, 0.1s ease-in;
}


/*Main content body*/

h2{
    text-align: center;
    padding: 10rem 0 0 0;
}

p.section-text{
    text-align: center;
    padding: 2rem 0rem 5rem;
}


/*Services grid*/
.grid--2-col{
    margin: 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10rem;
    column-gap: 10rem;
}

h3.main-services{
    padding: 0rem 0rem 0.5rem 0rem;
    margin: 0 0;
}

p.grid-2-col-p{
    margin: 0 0;
}

/*Grid 3 col*/

.grid--3-col{
    margin: 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6rem;
}

p.grid-3-col-p{
    margin: 0 0;
    grid-row: 2;
}

.grid--item{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
}

h3.grid-3-col-h3{
    margin: 0 0;
    padding: 0rem 1rem 0rem;
    grid-row: 1;
    grid-column: 1;
}

svg.separator-line{
    float: left;
    margin: 0 0rem;
    padding: 0 0.5rem 0 0;
    grid-row: 1;
    grid-column: 1;
    height: 4rem;
}


/*CTA Section*/

section.section-footer-cta{
    text-align: center;
    padding-bottom: 10rem;
}

h2.bottom-cta-h2{
    padding-bottom: 2rem;
}

a.main-cta--1, a.main-cta--2{
    padding: 0.5rem 3rem;
    margin: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    }

a.main-cta--1{
    background-color: #51557D;
    border-color: #51557D;
    color: #ffffff;
    border-radius: 0.5em;
    }

a.main-cta--2{
    background-color: #6BAFD1;
    border-color: #6BAFD1;
    color: #1C1C1C;
    border-radius: 0.5em;
}

a.main-cta--1:hover,a.main-cta--1:focus-visible {
    background-color: #ffffff;
    border-color: #51557D;
    color: #51557D;
    transition: background-color, 0.1s ease-in;
}

a.main-cta--2:hover, a.main-cta--2:focus-visible{
    background-color: #ffffff;
    border-color: #6BAFD1;
    color: #1C1C1C;
    transition: background-color, 0.1s ease-in;
}

/*Testimonials*/
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

.testimonial-card {
    /* Add shadows to create the "card" effect */
    margin: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.5rem;
  }

.testimonial-card-container{
    margin: 0 0;
    padding: 1rem 2rem 2rem;
    text-align: left;
}

.testimonial-card-container h3{
    padding: 0rem 0rem 0.5rem;
}


/*--------------------------------------------------------------------------------*/
/*Media Queries*/
@media screen and (max-width: 1000px) {

    a.header-cta--2{
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    a.header-cta--1{
        grid-column: 1 / span 2;
        grid-row: 3;
    }

}

@media screen and (max-width: 861px) {

    header {
        grid-template-columns: 0.5fr 0.5fr;
    }

    .header-img{
        display: none;
    }

    a.header-cta--1{
        grid-column: 1;
        grid-row: 3;
    }

    a.header-cta--2{
        grid-column: 2;
        grid-row: 3;
    }

    .grid--2-col {
    grid-template-columns: 1fr;
    row-gap: 5rem;
    }

    .grid--3-col {
    grid-template-columns: 1fr;
    column-gap: 0.2rem;
    row-gap: 5rem;
    }

    h3.grid-3-col-h3{
        margin: 0 0;
        padding: 0rem 1rem 0rem;
        grid-row: 1;
        grid-column: 1;
    }

    svg.separator-line{
        float: left;
        margin: 0 0rem;
        padding: 0 0.5rem 0 0;
        grid-row: 1;
        grid-column: 1;
        height: 2.18rem;
    }
}

@media screen and (max-width: 731px) {

    a.main-cta--1 {
        float: left;
    }

    a.main-cta--2{
        float: right;
    }

    a.main-cta--1, a.main-cta--2{
        max-width: 40%;
    }

}
@media screen and (max-width: 712px){
    a.main-cta--1, a.main-cta--2{
        margin: 0 0;
    }

}

@media screen and (max-width: 613px){ /*NEED TO FIX MAIN CTA*/
    
    .testimonials{
        grid-template-columns: 1fr;
    }
    
    a.main-cta--1, a.main-cta--2{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 550px){ 
    a.header-cta--2{
        grid-row: 4;
        grid-column: 1 / span 2;
    }

    a.header-cta--1{
        grid-row: 3;
        grid-column: 1 / span 2;
    }
}